* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #eee;
  font-family: system-ui;
}

.user-management {
  width: 80%;
  margin: auto;
  animation: fadeIn 1s ease-in-out;
}

.h1 {
  font-size: 40px;
}

.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.head h1 {
  color: #fff;
}

input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #222;
  margin: 4px 0;
  border-radius: 5px;
  padding: 7px;
  color: #fff;
  transition: all 0.5s ease;
}

input:focus {
  background-color: #111;
  transform: scale(1.05);
  border-bottom: 2px solid #9b02dd;
  transition: transform 0.3s ease, border-bottom 0.3s ease;
}

.input {
  background-color: #dddddd;
  color: #111;
}

.input:focus {
  background-color: #bbb;
  transform: scale(1.04);
}

.body {
  background-color: white;
  color: #111;
}

.button {
  background-color: #9b02dd !important;
}

.button:hover {
  background-color: #9b02ee !important;
}

.Header {
  color: #111;
}

button {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #47005f;
  color: #fff;
  transition: 0.5s;
  text-transform: capitalize;
}

button:hover {
  background-color: #470066;
  letter-spacing: 1px;
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:active {
  transform: scale(0.98);
}

.btnSearch {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btnSearch button {
  width: 45%;
}

table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.table {
  overflow: hidden;
  overflow-x: scroll;
}

table th {
  text-transform: uppercase;
}

th, td {
  padding: 5px;
}

table tr:hover {
  background-color: #333;
  transform: scale(1.02);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#deleteAll, #backToMain {
  margin: 20px 0;
  text-align: center;
}

#btnDelete {
  background-color: #a00d02;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#btnDelete:hover {
  background-color: #b50f03;
}

#lightDarkModeBtn {
  padding: 6px;
  width: 130px;
  height: 50px;
  position: absolute;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa !important;
  transition: right 2s;
  z-index: 1;
  cursor: pointer;
}

#lightDarkModeBtn i {
  font-size: 36px;
}

#sun, #moon {
  position: absolute;
  transition: all 0.5s ease;
}

#sun {
  left: 10%;
  animation: sunMove 1s forwards;
}

#moon {
  left: 80%;
  animation: moonMove 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sunMove {
  from {
    left: 10%;
    transform: rotate(0deg);
  }
  to {
    left: 80%;
    transform: rotate(360deg);
  }
}

@keyframes moonMove {
  from {
    left: 80%;
    transform: rotate(360deg);
  }
  to {
    left: 10%;
    transform: rotate(0deg);
  }
}

@media (max-width: 600px) {
  #sun, #moon {
    font-size: 25px;
  }

  #lightDarkModeBtn {
    width: 20%;
    height: 40px;
  }

  @keyframes sunMove {
    from {
      left: 10%;
      transform: rotate(0deg);
    }
    to {
      left: 65%;
      transform: rotate(360deg);
    }
  }

  @keyframes moonMove {
    from {
      left: 65%;
      transform: rotate(360deg);
    }
    to {
      left: 10%;
      transform: rotate(0deg);
    }
  }
}

@media (max-width: 400px) {
  @keyframes sunMove {
    from {
      left: 10%;
      transform: rotate(0deg);
    }
    to {
      left: 50%;
      transform: rotate(360deg);
    }
  }

  @keyframes moonMove {
    from {
      left: 50%;
      transform: rotate(360deg);
    }
    to {
      left: 10%;
      transform: rotate(0deg);
    }
  }
}